@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tenant-primary: #155dfc;
  --tenant-secondary: #0f172a;
  --bg-secondary : #F6F7FB;
  --text-secondary: #6B7280;
}
@layer base {
  :root {
    --color-brand: #156AE1; 
    --background: #ffffff;
    --foreground: #1A202C;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  *{
    font-family: "Avenir Arabic", sans-serif;
  }
}

@theme {
  --color-brand: var(--color-brand);
}

@layer utilities {
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}

@layer components {
  .feature-headline {
    background: #f5f8ff;
    border-radius: 8px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    margin-bottom: 24px;
  }
  
  .feature-headline span {
    display: block;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: var(--tenant-primary, #156AE1); 
  }
}
